<%- include('../partials/header') -%>

<div>
  <h1>Edit your post</h1>
  <form
    action="/post/<%= post._id %>?_method=PUT"
    method="POST"
    enctype="multipart/form-data"
    id="postEditForm"
  >
    <div class="form-group">
      <label> Title </label>
      <input
        class="form-control"
        type="text"
        placeholder="title"
        name="title"
        value="<%= post.title %>"
        required
      />
      <label> Description </label>
      <textarea
        class="form-control"
        name="description"
        cols="30"
        rows="10"
        required
      >
<%= post.description %></textarea
      >
      <label> Images </label>
      <input
        class="form-control imageUploads"
        type="file"
        accept="images/*"
        name="images"
        multiple
      />
      <div>
        <% post.images.forEach((image) => { %>
        <img src="<%= image.path %> " alt="surf-image" width="200px" />
        <input
          name="deleteImages[]"
          type="checkbox"
          class="imagesDeleteCheckbox"
          value="<%= image.filename %>"
        />
        <label> Delete ? </label>
        <% }) %>
      </div>
      <label> Price </label>
      <input
        class="form-control"
        type="text"
        placeholder="price"
        name="price"
        value="<%= post.price %>"
        required
      />
      <label> Location </label>
      <input
        class="form-control"
        type="text"
        placeholder="location"
        name="location"
        value="<%= post.location %>"
        required
      />
      <button class="btn btn-primary" type="submit" name="edit">Edit</button>
    </div>
  </form>
</div>

<script src="/javascripts/post-edit.js"></script>

<%- include('../partials/footer') -%>
