<%- include('../partials/header') -%> <% posts.forEach((post) => { %>

  <h1 class="heading"><%= post.title %></h1>
  <p><%= post.description %></p>
  <p><%= post.price %></p>
  <p><%= post.location %></p>
  <a href="/post/<%= post._id %> ">Read More</a>
  <br />

<% }) %>

<%- include('../partials/footer') -%>
