<%- include('../partials/header') -%> 

<% if(posts.length === 0) { %>
  <h3>No posts found. Click on + to create a new post</h3>
<% } %>

<h1>Posts Index!</h1>
<div id='map'></div>

<%- include ('../partials/paginatePosts') -%>

<% posts.docs.forEach((post) => { %>
  <h1 class="heading"><%= post.title %></h1>
  <p><%= post.description %></p>
  <p><%= post.price %></p>
  <p><%= post.location %></p>
  <a href="/post/<%= post._id %> ">Read More</a>
  <br />
<% }) %>

<%- include ('../partials/paginatePosts') -%>


<script>
  mapboxgl.accessToken = '<%= mapboxToken %>'
  let posts = {features: <%- JSON.stringify(posts.docs) %>}
</script>
<script src='/javascripts/allPostsClusterMap.js'></script>

<%- include('../partials/footer') -%>
