<!-- Tutorial followed for displaying map: 
https://docs.mapbox.com/help/tutorials/custom-markers-gl-js/ -->

<%- include("../partials/post-show-header") -%>

<h1 class="heading"><%= post.title %></h1>
<p><%= post.description %></p>
<div>
  <% post.images.forEach((image) => { %>
  <img src="<%= image.path %> " alt="surf-image" width="200px" />
  <% }) %>
</div>
<p><%= post.price %></p>
<p><%= post.location %></p>

<% for(let i=0; i<5; i++) { %>
  <% if( i < floorRating ) { %>
    <i class="fas fa-2x fa-star" style="color: #ffc107;"></i>
  <% } else if( (post.avgRating-i) > 0 && (post.avgRating-i) < 1 ) { %>
    <i class="fas fa-2x fa-star-half-alt" style="color: #ffc107;"></i>
  <% } else { %>
    <i class="far fa-2x fa-star"></i>
  <% } %>
<% } %>

<h5><%= `${post.avgRating} star${post.avgRating <= 1? '': 's'}` %> </h5>

<div id="map"></div>

<a href="/post/edit/<%= post._id %> ">
  <button class="btn btn-dark">Edit</button>
</a>
<form action="/post/<%= post._id %>?_method=DELETE" method="POST">
  <button class="btn btn-danger" title="Delete" type="submit">
    <i class="fas fa-2x fa-trash"></i>
  </button>
</form>

<h2>Add a review</h2>
<form method="POST" action="/review">
  <div class="form-group">
    <input type="hidden" name="postId" value="<%= post._id %>" />
    <textarea
      class="form-control"
      name="body"
      placeholder="Add new review"
      required
    ></textarea>

    <fieldset class="starability-basic">
      <legend>Rating:</legend>
      <input
        type="radio"
        id="rate0"
        class="input-no-rate"
        name="rating"
        value="0"
        checked
        aria-label="No rating."
      />
      <input type="radio" id="rate1" name="rating" value="1" />
      <label for="rate1" title="Terrible">1 star</label>
      <input type="radio" id="rate2" name="rating" value="2" />
      <label for="rate2" title="Not good">2 stars</label>
      <input type="radio" id="rate3" name="rating" value="3" />
      <label for="rate3" title="Average">3 stars</label>
      <input type="radio" id="rate4" name="rating" value="4" />
      <label for="rate4" title="Very good">4 stars</label>
      <input type="radio" id="rate5" name="rating" value="5" />
      <label for="rate5" title="Amazing">5 stars</label>
      <button class="btn btn-light btn-sm clear-rating" type="button">
        Clear Rating
      </button>
    </fieldset>

    <button class="btn btn-primary" type="submit" name="submit">Submit</button>
  </div>
</form>

<h3>Reviews</h3>
<% post.review.forEach((review) => { %>
<div>
  <strong>Author: </strong><%= review.author.username %>
  <br />
  <%= review.body %>
  <br />
  <strong>Rating: </strong><%= review.rating %>
  <br />

  <% if(review.author._id.equals(currentUser._id)) { %>
  <button class="btn btn-warning toggle-edit-form">Edit</button>
  <form action="/review/<%= review._id %>?_method=DELETE" method="POST">
    <input type="hidden" name="postId" value="<%= post._id %>" />
    <button class="btn btn-danger" title="delete-review" type="submit">
      <i class="fas fa-2x fa-trash"></i>
    </button>
  </form>
  <form
    class="edit-review-form hide"
    method="POST"
    action="/review/<%= review._id %>?_method=PUT"
  >
    <div class="form-group">
      <input type="hidden" name="postId" value="<%= post._id %>" />
      <textarea class="form-control" name="body"><%=review.body%></textarea>

      <fieldset class="starability-basic">
        <legend>Rating:</legend>
        <input
          type="radio"
          id="edit-rate0"
          class="input-no-rate"
          name="rating"
          value="0"
          checked
          aria-label="No rating."
        />
        <input type="radio" id="edit-rate1" name="rating" value="1" />
        <label for="edit-rate1" title="Terrible">1 star</label>
        <input type="radio" id="edit-rate2" name="rating" value="2" />
        <label for="edit-rate2" title="Not good">2 stars</label>
        <input type="radio" id="edit-rate3" name="rating" value="3" />
        <label for="edit-rate3" title="Average">3 stars</label>
        <input type="radio" id="edit-rate4" name="rating" value="4" />
        <label for="edit-rate4" title="Very good">4 stars</label>
        <input type="radio" id="edit-rate5" name="rating" value="5" />
        <label for="edit-rate5" title="Amazing">5 stars</label>
        <button class="btn btn-light btn-sm clear-rating" type="button">
          Clear Rating
        </button>
      </fieldset>

      <button class="btn btn-primary" type="submit" name="update">
        Update
      </button>
    </div>
  </form>
  <script>
    $('#edit-rate<%= review.rating %>').prop('checked', true);
  </script>
  <% } %>

  <br /><br />
</div>
<% }) %>

<script>
  let post = <%- JSON.stringify(post) %>
  let mapboxToken = '<%= mapboxToken %>'
</script>
<script src="/javascripts/post-show.js"></script>

<%- include("../partials/footer") -%>
